/* calendar.tcss - Nord Theme */

Screen {
    background: #2E3440;
}

WeekView {
    layout: grid;
    height: 100%;
    /* 8 Columns: 1 for Time, 7 for Days */
    grid-size: 8 17; 
    /* First column fits content, others share space equally */
    grid-columns: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-rows: 1 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gutter: 0 0; 
    padding: 0;
    background: #2E3440;
}

MonthView {
    height: 100%;
    background: #2E3440;
}

.day-header {
    text-align: center;
    content-align: center bottom;
    color: #ECEFF4;
    height: auto;
    width: 100%;
}

.time-label {
    text-align: right;
    padding-right: 1;
    color: #D8DEE9;
    background: #3B4252;
    border-right: solid #434C5E;
    height: 1fr;
}

.calendar-slot {
    border: solid #434C5E;
    background: #3B4252;
    color: #ECEFF4;
    height: 1fr;
}

.calendar-slot:hover {
    background: #4C566A;
    border: solid #88C0D0;
}

.calendar-slot:focus {
    background: #434C5E;
    border: heavy #88C0D0;
}

Header {
    background: #5E81AC;
    color: #ECEFF4;
}

Footer {
    background: #3B4252;
    color: #D8DEE9;
}

ContentSwitcher {
    height: 1fr;
    background: #2E3440;
}

.header-corner {
    background: #3B4252;
    border: tall #434C5E;
}